@font-face {
  font-family: 'AritaBuri';
  src: url('/quartz/static/fonts/AritaBuriSB.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'AritaBuri';
  src: url('/quartz/static/fonts/AritaBuriL.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html[saved-theme="dark"] body > .page#quartz-root > div#quartz-body > div.sidebar.left {
  border-right-color: var(--text-highlight-bg);
  button.search-button {
    background-color: var(--background-secondary);
    border-color: var(--text-highlight-bg);
    & > p, & > svg > .search-path {
      color: var(--quartz-icon-color);
      stroke: var(--quartz-icon-color);
    }
    & ~ .search-container.active > .search-space {
      & > input {
        background-color: var(--background-secondary);
        border-color: var(--text-highlight-bg);
        --background-modifier-border-focus: var(--text-highlight-bg);
        color: var(--quartz-icon-color);
      }
      & > .search-layout[data-preview] {
        background-color: var(--background-secondary);
        border: 1px solid var(--text-highlight-bg);
        border-radius: 5px;
        & > div:first-child {
          border-color: var(--text-highlight-bg);
        }
        & .card-title {
          margin-left: var(--p-spacing);
        }
      }
    }
  }
}

.theme-dark {
  --tab-container-background: transparent;
  --background-primary: transparent;
  --background-secondary: rgba(0, 0, 0, 0.2);
  --text-highlight-bg: rgba(105, 166, 236, 0.2);
  --highlight: var(--text-highlight-bg);
  --quartz-icon-color: rgba(155, 197, 245, 0.7);
  --color-accent-2: rgba(165, 222, 255, 0.9);
  --color-accent: rgb(144, 181, 224);
  --color-accent-1: var(--color-accent);
  --text-accent: var(--color-accent);
  --text-accent-hover: rgba(132, 157, 226, 0.6);
  --link-color: var(--color-accent);
  --link-external-color: var(--color-accent);
  --font-text: 'AritaBuri';

  background-image:
  /*https://raw.githubusercontent.com/akanthasAurae/vyxenspngs/refs/heads/main/vyxens/stuff/8oclockcircus.png*/
        url('https://raw.githubusercontent.com/akanthasAurae/vyxenspngs/refs/heads/main/vyxens/stuff/bg/aStarLayer05.png'), 
        url('https://raw.githubusercontent.com/akanthasAurae/vyxenspngs/refs/heads/main/vyxens/stuff/bg/aStarLayer04.png'),
        url('https://raw.githubusercontent.com/akanthasAurae/vyxenspngs/refs/heads/main/vyxens/stuff/bg/aStarLayer03.png'),
        url('https://raw.githubusercontent.com/akanthasAurae/vyxenspngs/refs/heads/main/vyxens/stuff/bg/aStarLayer02.png'),
        url('https://raw.githubusercontent.com/akanthasAurae/vyxenspngs/refs/heads/main/vyxens/stuff/bg/aStarLayer01.png'),
        url('https://raw.githubusercontent.com/akanthasAurae/vyxenspngs/refs/heads/main/vyxens/stuff/bg/StarBackground.png');
  animation: planetariumBackground 120s linear infinite;
  background-size: 1200px 800px, 600px 400px, 600px 400px,600px 400px,600px 400px,600px 400px;
	background-blend-mode: color-dodge;
	background-color: #090511;
	&::after {
		background-image: 
            		url('https://raw.githubusercontent.com/akanthasAurae/vyxenspngs/refs/heads/main/vyxens/stuff/bg/aStarLayer03.png'),
            		url('https://raw.githubusercontent.com/akanthasAurae/vyxenspngs/refs/heads/main/vyxens/stuff/bg/aStarLayer02.png');
        	background-size: 600px 400px;
        	background-repeat: repeat;
        	position: absolute;
        	mix-blend-mode: color-dodge;
        	filter: drop-shadow(0px 0px 5px #b73fff);
        	top: 0;
        	bottom: 0;
        	left: 0;
        	right: 0;
        	z-index: 999;
        	content: "";
        	pointer-events: none;
        	overflow: hidden;
        	animation: schmoove 60s linear infinite;
        	opacity: 1;
	}
  & ::selection {
    background: var(--text-accent-hover);
  }
  h1, h2, h3, h4, h5, h6, span, p, button, a, sub, sup {
    font-family: 'AritaBuri';
    text-shadow: 0px 0px 3px rgba(156, 205, 250, 0.7), 0px 0px 5px rgba(85, 106, 196, 0.4);
    &:has(> a[role=anchor]) {
      margin-left: 37px;
    }
    &.article-title {
      text-align: center;
      & ~ p.content-meta {
        text-align: center;
      }
    }
  }
  hr {
    background-color: var(--text-highlight-bg);
    border-color: var(--text-highlight-bg);
  }
  span, p, button, a {
    font-weight: normal;
  }
  sub, sup {
    font-size: var(--font-smallest);
    color: var(--quartz-icon-color);
  }
  h1, h2, h3, h4, h5, h6 {
    color: var(--color-accent);
    font-weight: bold;
  }
}

.center-flex {
  justify-content: center;
  align-items: center;
}
.row {
  flex-direction: row;
  flex-wrap: nowrap;
}
.column {
  flex-direction: column;
  flex-wrap: nowrap;
}
.text-center {
  text-align: center;
}
.inline-flex {
  display: inline-flex;
}
.flex {
  display: flex;
}

.invitation {
  background-color: #0000003b;
  backdrop-filter: blur(10px);
  border: 30px solid transparent;
  border-image: url('https://raw.githubusercontent.com/akanthasAurae/vyxenspngs/refs/heads/main/vyxens/stuff/border.png') 150 stretch;
  border-image-width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  max-width: 30vw;
  & > .pre-book {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    & > .book {
      display: inline-flex;
      text-align: center;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      background-image: url('https://raw.githubusercontent.com/akanthasAurae/vyxenspngs/refs/heads/main/vyxens/stuff/book.png');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      min-height: 12em;
      --margin: 0.7em;
      margin-right: var(--margin);
      & > span, & > a {
        max-width: 6em;
        font-size: 75%;
        margin-bottom: var(--margin);
        margin-top: var(--margin);
        font-weight: bold;
      }
      & > img {
        width: 65%;
        margin-top: var(--margin);
      }
    } 
  }
}

@keyframes planetariumBackground {
from { background-position: 0% 0%; }
to { background-position: 0px 800px, 0px 4800px, 0px 4000px, 0px 3200px, 0px 2400px, 0px 1600px; }
}
@keyframes schmoove {
    0% { 
        background-position: 300px 0%, 300px 0%; 
    }
    100% { 
        background-position: 300px 4800px, 300px 2400px; 
    }
}